:root{
    --cor-cinza1d: #1d1d1d;
    --cor-cinza70: #707070;
    --cor-cinza4d: #4d4d4d;
    --cor-douradob4: #b47d33;
    --cor-douradob1: #b17e3b;
    --cor-douradoa9: #a97339;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    max-width: 1280px;
}

/* classes gerais */

.t1, .novidade, .menus, .submenus, .titulo-banner, .titulo-campo{
    text-transform: uppercase;
}

.t1, .p, .menus, .submenus, .row-titulo, .titulo-banner, .texto-banner, a, .conteudo-campo{
    color: var(--cor-cinza4d);
}

.novidade, .menus a:hover, .nav-rodape a:hover{
    color: var(--cor-douradob4);
}

.novidade, .menus{
    font-family: 'Lato Black';  
}

.t1, .row-titulo{
    font-family: 'IBM Plex Sans Bold';
}

.t1{
    font-size: 25px;
}

.p{
    font-family: 'IBM Plex Sans Light';
    font-size: 13px;
}

.menus{
    font-size: 18px;
}

.submenus, .titulo-campo{
    font-family: 'IBM Plex Sans Medium';
}

.submenus{
    font-size: 13px;
}

a{
    text-decoration: none;
}

a.active{
    color: var(--cor-douradob4) !important;
}

a:hover, .rs:hover{
    cursor: pointer;
}

/* 1. INICIO CABEÇALHO */


/* altura da página */
header{
    height: 730px;
    position: relative;
} 

.container-titulo-barra{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

/* título */
header .row-titulo{
    margin-top: 52px;
}

header .row-titulo h1{
    font-size: 35px;
}

/* linha separadora */
.linha-separadora{
    margin: 15px auto;
    width: calc(100% - 110px);   
    height: 1px;
    background-color: var(--cor-cinza70);
}

/* barra de navegação */

.nav-item a{
    margin: 0 4px;
}

.dropdown-menu{
    padding: 30px 10px;
    box-shadow: 0px 17px 17px rgba(17, 17, 17, 0.157);
}

.dropdown-item li a{
    margin-bottom: 5px;
}


/* carousel */

#caroussel{
    position: relative;
}

.carousel-caption{
    position: absolute;
    top: 230px;
}

.titulo-banner, .texto-banner, .conteudo-campo{
    font-family: 'IBM Plex Sans Light';
}


.titulo-banner{
    font-size: 40px;
    line-height: 1.2em;
    margin-bottom: 15px;
}

.texto-banner{
    font-size: 13px;
    max-height: calc(4 * 1.5em); /* 4 linhas */
    overflow: hidden;
}

.btn-sabermais{
    width: 120px;
    height: 30px;

    background-image: url("imagens/sabermais1.svg");
}

.btn-sabermais:hover{
    background-image: url("imagens/sabermais2.svg");
}

#carousel button{
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 70px;
}

.btn-bola{
    background-image: url("imagens/bolabanner1.svg");
    border-radius: 50%;
}

.btn-bola.active{
    background-image: url("imagens/bolabanner2.svg");   
}

.carousel-caption .btn-sabermais{
    margin: 20px 0 0 12px;
}


/* 2. HOME */

/* Area Bem-vindo */

.white-box{
    width: 1162px;
    height: 525px;
    margin-left: 90px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    background-color: white;

    position: relative;
    top: -48px;
    z-index: 20;
}

.imagem-autor{
    height: 100%;
}

.descricao .t1{
    margin-top: 40px;
}

.descricao .p{
    margin-top: 30px;
    font-size: 14px;
}

.descricao .p, .descricao .t1{
    margin-left: 30px;
    padding-right: 10px;
}

.bemvindo-button{
    padding-top: 30px;
}


/* Area últimos livros */

.card{
    height: 800px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    margin: 10px;
}

.card img{
    height: 428px;
}

.destaques{
    margin-bottom: 70px;
}

.card-body{
    padding: 25px;
}

.card-body .novidade{
    height: 25px;
    margin-top: 10px;
}

.card-body .t1{
    margin-top: 10px;
}

.card .p{
    margin-top: 10px;
    max-height: 120px;
    overflow: hidden;
}

.card .btn-sabermais{
    margin-right: 20px;
}
    

/* NAV do rodapé */

.nav-rodape .links{
    padding: 15px 0;
}

.nav-rodape a{
    margin: 0 15px;
    font-size: 16px;
}

.nav-rodape .linha-separadora{
    border: 1px solid var(--cor-cinza70);
    width: 100%;
}


/* FOOTER */

.footer-row{
    margin: 40px 10px 70px 10px;
}

/* classes fonts contactos */

.col-contactos .t1, .col-redes .t1{
    font-size: 23px;
}

.titulo-campo, .conteudo-campo{
    font-size: 15px;
}

.titulo-campo{
    color: var(--cor-douradob1);
    margin-top: 20px;
}

.livro-ralc{
    margin-top: 58px;
}

.ralc{
    margin-left: 43px;
}


/* icons redes sociais*/

.icons{
    margin-top: 30px;
    gap: 20px;
}

.rs{
    width: 37px;
    height: 37px;
}

.ig{
    background-image: url("imagens/instagram1.svg");
}

.ig:hover{
    background-image: url("imagens/instagram2.svg");
}

.fb{
    background-image: url("imagens/facebook1.svg");
}

.fb:hover{
    background-image: url("imagens/facebook2.svg");
}

.lk{
    background-image: url("imagens/linkedin1.svg");
}

.lk:hover{
    background-image: url("imagens/linkedin2.svg");
}

/* copyright*/

.copyright{
    margin-top: 88px;
    font-size: 14px;
}
